.container{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainblock{
    height: 100%;
    background-color: #FFFFFF;
    margin: 0px 253px 0px 253px;
    
}
.serchtext{
    width: 570px;height: 70px;
}
.bookblock{
   background-color: #FFFFFF; 
   height: 90%; 
   display: flex; 
   flex-direction: row;
   
}
.sub-heading{
    background-color: #FFFFFF; 
    height: 5%; 
    padding-top: 14px;
}

.subimg{
    background-color: #FFFFFF; 
    width: 3.5%;
    margin-left: -30px;
    //background-color: brown;
}

.mainImg{
    background-color: #FFFFFF; 
    width: 48.2%;
    //height: 38.2%;
   
}

.imgCell{
   
    width: 321px;
    height: 390px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    opacity: 1;
    justify-content: center;
    //background-color: chartreuse;
}

.imgMain{
    padding: 22px 40px 22px 40px;
    width: 242px;
    height: 330px;
    opacity: 1;
    //background-color: blueviolet;
}

.alternateButton{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bag{
    width: 47%; 
    background-color: #A03037;
}
.wishlist{
    width: 47%; 
    color:white; 
    background-color: #333333;
}
.book_description{
    background-color: #FFFFFF; 
    width: 63%;
    padding: 0px 0px 0px 50px;
    //background-color: blueviolet;
    //margin-left: -2px;;
}

.description{
    width: 100%;
    height: 37px;
    text-align: left;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin: 0%;
}

.author{
    width: 214px;
    height: 24px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.rate{
    width: 55px;
    height: 25px;
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding-left: 3px;
    justify-content: space-evenly;
}

.star{
    color: white;
    font-size: 11px;
    width: 11px;
    height: 11px;
}

.quantity{
    width: 27px;
    height: 20px;
    text-align: center;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-left: 11px;
}

.price{
    width: 119px;
    text-align: left;
    font: normal normal bold 30px/39px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-top: 10px;
}

.details{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 580px;
    height: 100px;
    opacity: 1;
    background-color: #FFFFFF;
    //background-color: chocolate;
}

.heading{
    width: 100px;
    margin: 0;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.bookContent{
    width: 542px;
    height: 50px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #3f3b3b;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    //background-color: chartreuse;
}

.review{
    width: 567px;
    height: 222px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    // opacity: 0.63;
    padding: 10px 20px 10px 20px;
}

.text{
    width: 70px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1
}
.searchInput {
    margin-top: 10px;
    width: 300px;
    height: 31px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    outline: none;
    border: transparent;
}

.button{
    margin-top: 75px;
    margin-left: 500px;
    width: 76px;
    height: 32px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.cell{
    width: 51px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    opacity: 1;
    justify-content: center;
    //background-color: chocolate;
}
.cell :hover{
    border: 1px solid #7C1E1E;
}
.sideimg{
    padding: 4px;
    width: 42px;
    height: 40px;
    opacity: 1;
}
::ng-deep .divider{
    width: 600px;;
}
.star{
    height:20px;width: 20px;
    margin-right: 10px;
}
@media (max-width: 768px){
    .mainblock{
        margin-left:60px;
        width:100%;        
    }
    .bookblock{
        flex-wrap: wrap;
    }
    .subimg{
        background-color: #FFFFFF; 
        width: 3.5%;
        margin-left: 120px;
        //background-color: brown;
    }
    
    .mainImg{
        background-color: #FFFFFF; 
        width: 48.2%;
        //height: 38.2%;
        //background-color: chartreuse;
    }
    .book_description{
        background-color: #FFFFFF; 
        width: 63%;
        padding: 0px 0px 0px 10px;
        //background-color: blueviolet;
        margin-top:20px;
        margin-left: 20px;;
    }
    .alternateButton{
        
        margin-left:-25px
    }
    .button{
        margin-top: 95px;
        
    }
}
@media (max-width: 425px){
    .main{
        width: 30%;
        //background-color: #5730a0;
    }
    .subimg{
        background-color: #FFFFFF; 
        width: 3.5%;
        margin-left: -52px;
        flex-wrap: nowrap;
    }
    .mainImg{
        background-color: #FFFFFF; 
        width: 100px;
        margin-left:35px;
        margin-top:0px;
        
        //height: 38.2%;
        //background-color: chartreuse;
    }
    .alternateButton{
        width:370px;
        margin-left:-25px;
    }
    .description{
        margin-left: -50px;
    }
    .author{
        margin-left: -50px;
    }
    .booker{
        margin-left: -50px;
    }
    .price{
        margin-left: -50px;
    }
    .divider{
        margin-left: -90px;
        width: 425px;
    }
    .details{
        margin-left: -50px;
        width:450%;
    }
    .bookContent{
        width: 95%;
    }
    .customerfeed{
        margin-left: -50px;
    }
    .review{
        margin-left: -10px;
        width:330px;
    }
    .searchInput{
        width:10%;
    }
    .serchtext{
        width: 330px;
    }
    .button{
        margin-left:250px;
    }

}