.container{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main{
    height: 100%;
    margin: 0px 253px 0px 253px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
}

.cart{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #d1d0d0;
    border-radius: 1px;
    padding: 10px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
}

.book{
    width: 256px;
    height: 89px;
    opacity: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
}
.path{
    background-color: #FFFFFF; height: 5%; padding-top: 14px;
}
.title{
    width: 104.5%;
    height: 30px;
    background-color: #E4E4E4;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: -30px;
    margin-top:-10px;
}
.remove{
    margin-top: 35px;
}
.divide{
    width: 106%;
    margin-left:-30px;
}
@media (max-width: 768px){
    .cart{
        width: 200%;
        justify-content: flex-start;
        margin-left: -150px;
    }
    .path{
        margin-left:-140px;
    }
    .title{
        width:565px;
    }
    .divide{
        width: 585px;
    }
    
}
@media (max-width: 425px){
    .header{
        position: fixed;
        width: 100%;
        clear:both;
    }
    
    .cart{
        width: 325px;
        justify-content: flex-start;
        margin-left: -230px;
    }
    .path{
        margin-left:-230px;
    }
    .title{
        width:365px;
    }
    .divide{
        width: 385px;
    }
}