.container{
    width: 100%;
    // height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main{
    height: 100%;
    margin: 5% 253px 5% 253px;
  }
  .home{
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    cursor: pointer;
    margin-left: 0px;
    padding-bottom: 200px;
  }
  
  .cart{
    width: 774px;
    // height: 251px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #d1d0d0;
    border-radius: 1px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .book{
    width: 256px;
    height: 89px;
    opacity: 1;
    margin-top: 35px;
    display: flex;
  }
  
  .quantity {
    width: 30%;
  
    .circle {
        height          : 20px;
        width           : 20px;
        border-radius   : 50%;
        background-color: transparent;
        border          : 1px solid gray;
        text-align      : center;
        cursor          : pointer;
  
        img {
            width: 16px;
        }
      }
    
  
    .decreaseQty {
        margin-right: 5px;
    }
  
    .IncreaseQty {
        margin-left: 6px;
    }
  }
  
  .location{
    width: 275px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .placeOrder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .order{
    width: 151px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    display: flex;align-items: center; justify-content: center;
    color: #FFFFFF;
    margin-left: 125px;
    cursor: pointer;
  }
  
  .address{
    width: 805px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-top: 13px;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .customerAddress{
    width: 774px;
    height: 486px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
    margin-top: 13px;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
  }
  
  .details{
    color: #333232;
  }
  
  .textName{
    width: 54px;
    height: 16px;
    font: normal normal normal 12px/16px Roboto;
    color: #0A0102;
    //margin-left: -20px;
    // background-color: gray;
  }
  
  .placewidth{
    width: 69%;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 20px;
    //margin-left: 20px;
    
  }
  .placewidth1{
    width: 100%;
    height: 45px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 20px;
    
  }
  
  .addressWidth{  
    width: 580px;
    height: 0px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
  }
  
  .example-margin {
    margin: 0 50px;
  }
  
  .newAddress{
    width: 150px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 450px;
  }
  
  .continue{
    width: 151px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    display: flex;align-items: center; justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .checkoutOrder{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0;
  }
  
  @media (max-width: 1010px){
    .main{
        margin: 0px 59px 0px 68px;
    }
  
    .search {
        width: 450px;
    }
  
    .rightSection{
        margin-left: 18%;
    }
  
    .rightSection2{
        margin-left: 9%
    }
  
  }
  @media only screen and (max-width: 599px) {
  
    .cart{
      display: flex;
      flex-direction: column;
      margin-left: -65px;
      width: 125%;

      
    }
   
   .order{
     margin-top: 20px;
     margin-left: 160px;
   }
   .address{
     width: 138%;
     margin-left: -65px;
   }
   .container{
     margin-right: 20px;
     display: flex;
     flex-direction: column;
     width: 100%;
   }
   .home{
     margin-left: -40px;
   }
   
  }
  @media (max-width:768px){
    .placewidth{
      width: 100%;
    }
    .home{
      margin-left: 0px;
    }
  }
  @media (max-width:425px){
    .addressWidth{
      width: 130%;
    }
    .home{
      margin-left: 0px;
    }
    .placewidth1{
      width: 145%;
    }
    .add{
      max-width: 250px;;
    }
  }
  