.signupbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0% 0% 0% 14%;
    height: 55%;
    margin-top: -5.2px;
    
}
.name-head{
    margin: 0%;
    margin-top: -8%;
}
.Pass{
    margin-top: -3%;
    margin-bottom: 0%;
}
.placewidth{
    width: 83%;
    margin-top: -1%;
}
.signup-button{
    width: 85%;
    height: 40px;
    background-color: #A03037;
}
::ng-deep .mat-form-field-flex{
    //height: 45px;
    //background-color: aqua;
    justify-content: center;
    align-items: flex-start;

}
::ng-deep .mat-input-element{
    
    justify-content: flex-start;
   
}