<!--<p>signup works!</p>-->
<div style="margin-top:30px;">
    <form [formGroup] ="form"(ngSubmit)="submit()" class="signupbox">
        <h4 class="name-head">Full Name</h4>
        <mat-form-field appearance="outline" class="placewidth" >
            <input matInput placeholder="name" formControlName="name">
            <mat-error *ngIf="form.controls.name.errors">Name is required !</mat-error>
        </mat-form-field>

        <h4 class="Pass">Email Id</h4>
        <mat-form-field appearance="outline" class="placewidth">
            <input matInput placeholder="" formControlName="userName">
            <mat-error *ngIf="form.controls.userName.errors">User Name is required !</mat-error>
        </mat-form-field>
        
        <h4 class="Pass">Password</h4>
        <mat-form-field appearance="outline" class="placewidth">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" class="input-text">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.password.errors">Password is required !</mat-error>
        </mat-form-field>
        <h4 class="Pass">Mobile Number</h4>
        <mat-form-field appearance="outline" class="placewidth">
            <mat-label></mat-label>
            <input matInput placeholder="" formControlName="number">
            <mat-error *ngIf="form.controls.number.errors">Phone Number is required !</mat-error>
        </mat-form-field>
        
        <div class="signup-button">
            <button type="submit" class="signup-button" mat-flat-button color="warn">Signup</button>
        </div>
    </form>
</div>