<!--<p>sub-head-display works!</p>-->
<div class = "main">
    <div class = "middleHead">
        <div class = "bookTxt">
            Books 
            <h5 class = "items">({{books.length}} items)</h5>
        </div>
        <div class = "dropdownfilter">
            <button mat-stroked-button [matMenuTriggerFor] = "menu" style = "margin-top: -180px;">sort by relevance</button>
                <mat-menu #menu = "matMenu">
                    <button mat-menu-item>Price: Low to High</button>
                    <button mat-menu-item>Price: High to Low</button>
                    <button mat-menu-item>Newest Arrivals</button>
                </mat-menu>
        </div>
    </div>
    <app-books-display [books] = "books"></app-books-display>
</div>
