.main{
    height: 100%;
    width: 100%;
    margin-top: 5%;
}
.middleHead{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 20px;
    margin-top: -20px;
}
.bookTxt{
    width: 126px;
    height: 33px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-left: 200px;
    display: flex;
    align-items: baseline;
    //margin-top: -60px;
}
.items{
    width: 62px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1
}
.mat-stroked-button{
    margin-right: 180px;
}
.dropdownfilter{
    margin-left: 50px;
}
@media (max-width:425px) {
    .middleHead{
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 20px;
        margin-top: -15px;
    }
    .dropdownfilter{
        padding-left: 40px;
    } 
}